{% extends 'base.html' %}
{% block head_title %}{% endblock head_title %}
{% block site_content %}
<div id='site_content'>
    <div id='content_header_container'>
        <div id='content_header_label'>
            IPMDAT
        </div> <!-- END content_header_label -->
        <div class='clear'></div>
    </div> <!-- END content_header_container -->
    <div id='content_progress_bar_container'>
        <div id='content_progress_bar_project_background' class='progress_bar_base_style progress_bar_active'>
            Project Background
        </div>
        <div id='content_progress_bar_strategy_selection' class='progress_bar_base_style progress_bar_inactive progress_bar_padding_top'>
            Strategy Selection
        </div>
        <div id='content_progress_bar_eradication' class='progress_bar_base_style progress_bar_inactive progress_bar_padding_top'>
            Eradication
        </div>
        <div id='content_progress_bar_containment' class='progress_bar_base_style progress_bar_inactive progress_bar_padding_top'>
            Containment
        </div>
        <div id='content_progress_bar_suppression' class='progress_bar_base_style progress_bar_inactive progress_bar_padding_top'>
            Suppression
        </div>
        <div id='content_progress_bar_recommendation_summary' class='progress_bar_base_style progress_bar_inactive'>
            Recommendation Summary
        </div>
    </div> <!-- END content_progress_bar_container -->
    <div id='content_nav_back' class='content_nav_base_style content_nav_base_inactive'>«</div>
    <div id='content_container'>
        <div id='content_step_project_background_container' class='content_step_scheme content_step_active'>
            <div id='content_step_project_background_substep_container' class='content_substep_container_scheme'>
                <div id='content_step_project_background_substep_one' class='content_substep_scheme content_substep_active'>
                    •
                </div>
                <div id='content_step_project_background_substep_two' class='content_substep_scheme content_substep_inactive'>
                    •
                </div>
                <div id='content_step_project_background_substep_three' class='content_substep_scheme content_substep_inactive'>
                    •
                </div>
                <div id='content_step_project_background_substep_four' class='content_substep_scheme content_substep_inactive'>
                    •
                </div>
                <div class='clear'></div>
            </div> <!-- END content_step_project_background_substep_container -->
            <div class='clear'></div>
            <div id='content_step_project_background_content_container' class='content_step_content_container_scheme content_step_content_container_active'>
                <div id='project_background_assessors_container' class='content_step_question_container_scheme'>
                    <div id='project_background_assessors_label' class='content_step_question_label_scheme'>
                        Assessor(s) Name:
                    </div>
                    <div id='project_background_assessors_content' class='content_step_question_content_scheme'>
                        <input id='project_background_assessors' class='content_step_question_text_input_scheme' type='text'></input>
                    </div>
                    <div class='clear'></div>
                </div> <!-- END project_background_assessors_container -->
                <div id='project_background_scientific_name_container' class='content_step_question_container_scheme'>
                    <div id='project_background_scientific_name_label' class='content_step_question_label_scheme'>
                        Scientific Name:
                    </div>
                    <div id='project_background_scientific_name_content' class='content_step_question_content_scheme'>
                        <input id='project_background_scientific_name' class='content_step_question_text_input_scheme' type='text'></input>
                    </div>
                    <div class='clear'></div>
                </div> <!-- END project_background_scientific_name_container -->
            </div> <!-- END content_step_project_background_content_container -->
            <div id='content_step_project_timeframe_content_container' class='content_step_content_container_scheme content_step_content_container_inactive'>
                <div id='project_background_number_of_years_to_complete_container' class='content_step_question_container_scheme'>
                    <div id='project_background_number_of_years_to_complete_label' class='content_step_question_label_scheme'>
                        Number of years to complete project:
                    </div>
                    <div id='project_background_number_of_years_to_complete_content' class='content_step_question_text_input_scheme' type='text'></input>
                    </div>
                    <div class='clear'></div>
                </div> <!-- END project_background_number_of_years_to_complete_container -->
            </div> <!-- END content_step_project_timeframe_content_container -->
            <div id'content_step_distribution_and_abundance_content_container' class='content_step_content_container_scheme content_step_content_container_inactive'>
                <div id='project_background_gross_invaded_area_container' class='content_step_question_container_scheme'>
                    <div id='project_background_gross_invaded_area_label' class='content_step_question_label_scheme'>
                        Gross Invaded Area:
                    </div>

                </div> <!-- END project_background_gross_invaded_area_container -->
            </div> <!-- END content_step_distribution_and_abundance_content_container -->
        </div> <!-- END content_step_project_background_container -->
    </div> <!-- END content_container -->
    <div id='content_nav_forward' class='content_nav_base_style content_nav_base_inactive'>»</div>
    <div class='clear'></div>
</div> <!-- END site_content -->
{% endblock site_content %}
